<div class="affichage_produits">
  <div class="table-container">
    <div class="text-center">
      <h1>
        Liste des Produits
      </h1>
    </div>

    <!-- Affichage du spinner si isLoading est true -->
    <mat-progress-spinner *ngIf="produitsRessource.isLoading()" mode="indeterminate" diameter="50"></mat-progress-spinner>

    <table class="custom-table" *ngIf="!produitsRessource.isLoading()">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Quantité</th>
          <th>Prix</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produit of produitsRessource.value()">
          <td>{{produit.id}}</td>
          <td>{{produit.nom}}</td>
          <td>{{produit.stock}}</td>
          <td>{{produit.prixVente}}</td>
          <td class="actions-cell">
            <button mat-icon-button [routerLink]="['/modifier',produit.id]">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteProduit(produit.id)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button [routerLink]="['/consulter',produit.id]">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
