<form class="container" (ngSubmit)="onSubmit()">
    <h2>{{ title() }}</h2>
    <div class="fields">
      <mat-form-field>
        <input [(ngModel)]="nom" placeholder="Name" matInput name="name" required />
      </mat-form-field>
      <mat-form-field>
        <input
          [(ngModel)]="prixVente"
          placeholder="prixVente"
          matInput
          name="prixVente"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          [(ngModel)]="prixAchat"
          placeholder="prixAchat"
          matInput
          name="prixAchat"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          [(ngModel)]="stock"
          placeholder="stock"
          matInput
          name="stock"
          required
        />
      </mat-form-field>
    </div>
    <div class="actions">
      <button mat-flat-button type="submit">Save</button>
      <button type="button" mat-raised-button routerLink="/">Cancel</button>
    </div>
  </form>